shamefully-hoist=true
strict-peer-dependencies=false
onlyBuiltDependencies[]=@prisma/client
onlyBuiltDependencies[]=@prisma/engines
onlyBuiltDependencies[]=prisma
onlyBuiltDependencies[]=sharp
onlyBuiltDependencies[]=@swc/core
onlyBuiltDependencies[]=esbuild
